<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Them sinh vien</h1>
	<form method="post" th:action="@{/sinhvien/add}" th:object="${sinhvien}">
		<table>
			<tr>
				<td>Ten</td>
				<td><input type="text" placeholder="Ten sinh vien" name="nameSV"/></td>
			</tr>
			<tr>
				<td>Dia chi</td>
				<td><input type="text" placeholder="Dia chi sinh vien" name="address"/></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" placeholder="Email sinh vien" name="email"/></td>
			</tr>
			<tr>
				<td><button>Save</button></td>
			</tr>
		</table>
		
		
		
	</form>
</body>
</html>