<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Sinh vien</title>
</head>
<body>
	<h1>Danh sach sinh vien</h1>
	<a th:href="@{/sinhvien/add}">Them sinh vien</a>
	<table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Ten</th>
                <th>Address</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sinhvien : ${sinhvien}">
                <td th:utext="${sinhvien.id}">Text ...</td>
                <td th:utext="${sinhvien.nameSV}">Text ...</td>
                <td th:utext="${sinhvien.address}">Text ...</td>
                <td th:utext="${sinhvien.email}">Text...</td>
                <td>
                	<a th:href="${'/sinhvien/detail/' + sinhvien.id}">Detail</a>
                	<a th:href="${'/sinhvien/update/' + sinhvien.id}">Edit</a>
                	<a th:href="${'/sinhvien/delete/' + sinhvien.id}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
</body>
</html>