<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Sua sinh vien</h1>
	<form method="post" th:action="${'/sinhvien/update/' + update.id}" th:object="${sinhvien}">
		<table>
			<tr>
				<td>Ten</td>
				<td><input type="text" name="nameSV" th:value="${update.nameSV}"/></td>
			</tr>
			<tr>
				<td>Dia chi</td>
				<td><input type="text" name="address" th:value="${update.address}"/></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" name="email" th:value="${update.email}"/></td>
			</tr>
			<tr>
				<td><button type="submit">Save</button></td>
				<td><input type="hidden" name="id" th:value="${update.id}"/></td>
			</tr>
		</table>
	
	</form>
</body>
</html>